.container {
	width: 50%;
	border: 1px solid white;
	margin-top: 70px;
	padding: 30px;
}

#login-btn {
	float: right;
}

#username {
	background-color: white;
	text-align: center;
}

#password {
	background-color: white;
	text-align: center;
}